<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lango.demo.mapper.UserMapper">
 
    <resultMap id="BaseResultMap" type="com.lango.demo.pojo.User">
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_password" jdbcType="VARCHAR" property="password" />
        <result column="create_time" property="createTime" />
    </resultMap>
 
    <select id="selectUsers" resultMap="BaseResultMap">
        select * from user
    </select>
 
</mapper>